name: Publish to NPM

on:
  workflow_call:

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Prepare Env
        uses: ./.github/actions/prepare-env

      - name: Restore cache
        id: restore-cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: packages/udisc/lib
          key: lib-${{ hashFiles('**/yarn.lock', '**/package.json', '**/src/**/*') }}
      - name: Build if not cached
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: yarn build
      - name: Publish
        run: yarn publish-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ''
